:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  gap: 2rem;

  section.sort {
    select {
      font-size: 2rem;
    }
  }

  section.search {
    input {
      font-size: 2rem;
    }
  }

  button {
    font-size: 2rem;
  }
}

main {
  width: 100vw;

  //   * gallery style **************************
  .movie-gallery {
    margin: 10rem auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;

    article {
      background-color: rgb(40, 40, 40);
      color: rgb(193, 193, 193);

      //   * item style ***************************
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;

        p {
          text-align: center;
          font-size: 1.6rem;
          padding: 0.8rem 0;
          line-height: normal;
        }

        .title {
          width: 90%;
        }

        .genres {
          p {
            font-size: 1.4rem;
            padding: 0;
          }
        }
      }
    }
  }
}

//   * media queries ***************************

@media screen and (max-width: 1200px) {
  main {
    padding: 0 1rem;
    .movie-gallery {
      margin: 5rem auto;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

@media screen and (max-width: 820px) {
  main {
    padding: 0 1rem;
    .movie-gallery {
      margin: 5rem auto;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 576px) {
  main {
    padding: 0 1rem;
    .movie-gallery {
      margin: 1rem auto;
      max-width: 95%;
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
